@font-face {
    font-family: "google-emoji";
    src: url(fonts/NotoColorEmoji-Regular.ttf);
}

button {
    width: 250px;
    height: 50px;
}

#title {
    font-size: 3rem;
}

#modalContainer {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    top: 0;
    left: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
}

.modal {
    background-color: white;
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#modalBookButton {
    height: 1.5rem;
    width: auto;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    padding-top: 10px;
}

.modalInputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modalExitButton {
    height: 1.5rem;
    width: auto;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    position: absolute;
    align-items: center;
    top: 5px;
    right: 5px;
}