@font-face {
    font-family: "google-emoji";
    src: url(fonts/NotoColorEmoji-Regular.ttf);
}

button {
    width: 250px;
    height: 50px;
}

#title {
    font-size: 3rem;
}

#modalContainer {
    display: none;
}